<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>

<body>
	<span class="title">
		Welcome to OpenChat
	</span>
    <br><br>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('signup') }}">Sign Up</a>
	<br><br><br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

	{% block content %}{% endblock %}
	
</body>