{% extends "base.html" %}

{% block content %}
    <h2>Start Chat</h2>
    <form action=" {{ url_for('index') }} " method="post">
        {{ chatwith_form.hidden_tag() }}
        <p>
            {{ chatwith_form.username.label }}
            {{ chatwith_form.username(size=32) }} <br>

            {% for error in chatwith_form.username.errors %}
                <span style="color:red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p> {{ chatwith_form.submit() }} </p>
        
    </form>

    {% if thread.name %}
        <h3> {{ thread.name }} </h3>
        <div class="DivWithScroll">
            {% for message in thread.messages %}
                <p> {{ message.author_id }}: {{ message.message_text }} </p>
            {% endfor %}
        </div>
        <!-- <form id="chat" action="" method="post">
            {{ chat_form.hidden_tag() }}
            {{ chat_form.message_text(size=100) }}
            {{ chat_form.send() }}
        </form> -->
        <div id="chat">
            <input id="message_text" placeholder="Type a message" required="" size="100" type="text" value="">
            <button id="send" type="submit">Send</button>
        </div>
    {% endif %}

{% endblock %}